@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 0;
    user-select: none;
    background: #424242;
    border: 1px solid rgb(36, 36, 36);
}

input:focus{
    outline: none;
}

/* Logo */
#logo{
    width: 180px;
}

/* Loading Text */
.loading-text{
    margin: 0;
    padding: 0;
    color: rgb(160,160,160);
    font-weight: 100;
}

/* Magnifying Glass button */
#btn_search{
    filter: grayscale(1);
    border: #3a3a3a solid 1px;
    border-radius: 6px;
    margin-top: -2px;
}
#btn_search:hover{
    filter: brightness(0.85) grayscale(1);
}