@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 0;
    user-select: none;
    background: #d93b34;
    border: 1px solid rgb(36, 36, 36);
}

/* Logo */
#logo{
    width: 180px;
    filter: brightness(0)
}

/* Loading Text */
.loading-text{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 100;
    font-size: 90%;
}

/* loading percentage p */
#p_progress{
    font-size: 85%;
}

/* Checkbox cursor pointer */
.form-check *{
    cursor: pointer;
}

/* Checkbox label */
.form-check-label{
    font-size: 90%;
    font-weight: 100;
    color: white !important;
}

/* Magnifying Glass button */
#btn_search{
    filter: grayscale(1) brightness(95%);
    border: #3a3a3a solid 1px;
    border-radius: 6px;
    margin-top: -2px;
}
#btn_search:hover{
    filter: brightness(0.80) grayscale(1);
}

/* Disable search button outline on click */
input:focus{
    outline: none;
}

/* Results paragraph, i.e. "72 results" */
#p_result{
    font-size: 90%;
    color: white !important;
}